.main-title-animated {
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 70px;
    color: var(--color-text);
    margin-right: auto;
}

.main-title-sub{
    text-align: start;
    margin-right: auto;
    font-size: 70px;
    color: var(--color-text2);
    font-weight: 600;
    letter-spacing: 1px;
}