.title-animated2 {
    margin-top: 23px;
    // font-size: calc(15px + 15px * (100vw / 1440px));
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.2;
    color: var(--color-text2);
}